@charset "UTF-8";
* {
  text-decoration: none !important;
  list-style: none;
  font-family: roboto condensed, sans-serif;
}

.bg-light-muted {
  background-color: #d8d8d8 !important;
}

.bg-muted {
  background-color: #717171 !important;
}

.bg-strong-muted {
  background-color: #4a4a4a !important;
}

.hover-to-strong-primary {
  color: #ec7532;
}

.hover-to-primary {
  color: #fbbd61;
}

.hover-to-black, .schedule .container .tab-content .row .info > a:hover {
  color: #4a4a4a;
}

.flex-row {
  display: flex;
}

.flex-column, .coming .container .coming-top .info {
  display: flex;
  flex-direction: column;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10 !important;
  /* RESPONSIVE */
}

.header .container .row {
  height: 3rem;
}

.header .container nav > button {
  border: none;
}

.header .container nav > button span {
  color: #fbbd61 !important;
}

.header .container nav > button:focus {
  border: none;
  outline: none;
}

.header .container nav .navbar-collapse {
  z-index: 1;
  justify-content: flex-end;
  transition: all 0.4s ease;
}

.header .container nav .navbar-collapse .navbar-nav a {
  color: #fff;
  letter-spacing: 2px;
  position: relative;
}

.header .container nav .navbar-collapse .navbar-nav a:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  box-shadow: 0 0 20px 0 #fbbd61;
  transition: all 0.3s ease;
}

.header .container nav .navbar-collapse .navbar-nav a:hover::after {
  width: 100%;
}

.header .container nav .navbar-collapse .navbar-nav a.active::after {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .header nav .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.9);
  }
  .header nav .navbar-collapse .navbar-nav {
    justify-content: center;
    align-items: center;
    border-bottom: none !important;
  }
  .header nav .navbar-collapse .navbar-nav a {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.slider {
  /* RESPONSIVE */
}

.slider .carousel-inner .carousel-item {
  position: relative;
}

.slider .carousel-inner .carousel-item .poster-1 {
  background-image: url("../../img/hero-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: none;
  height: 100%;
  min-height: 55rem;
}

.slider .carousel-inner .carousel-item .poster-2 {
  background-image: url("../../img/hero-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: none;
  height: 100%;
  min-height: 55rem;
}

.slider .carousel-inner .carousel-item .poster-3 {
  background-image: url("../../img/hero-3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: none;
  height: 100%;
  min-height: 55rem;
}

.slider .carousel-inner .carousel-item:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to top, #000000, transparent);
}

.slider .carousel-inner .carousel-item .carousel-caption {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}

.slider .carousel-inner .carousel-item .carousel-caption h1 {
  animation: fadeIn-135deg;
  animation-duration: 0.8s;
  animation-timing-function: ease;
}

.slider .carousel-inner .carousel-item .carousel-caption p {
  animation: fadeIn-180deg;
  animation-duration: 0.8s;
  animation-timing-function: ease;
}

.slider .carousel-inner .carousel-item .carousel-caption > span {
  color: #fbbd61;
  display: block;
  animation: fadeIn-135deg;
  animation-duration: 0.8s;
  animation-timing-function: ease;
}

.slider .carousel-inner .carousel-item .carousel-caption .trailer {
  position: relative;
  animation: fadeIn-235deg;
  animation-duration: 0.8s;
  animation-timing-function: ease;
}

.slider .carousel-inner .carousel-item .carousel-caption .trailer > span {
  display: block;
  width: 3rem;
  height: 3rem;
  border-width: 2px !important;
}

.slider .carousel-inner .carousel-item .carousel-caption .trailer button {
  padding: 0.6rem 2.5rem;
  letter-spacing: 2px;
  border: none;
  border-radius: 999rem;
  position: relative;
  overflow: hidden;
  box-shadow: none !important;
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
}

.slider .carousel-inner .carousel-item .carousel-caption .trailer button:after {
  content: "";
  display: block;
  width: 0;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ec7532;
  transform: skewX(30deg);
  transition: all 0.4s ease;
}

.slider .carousel-inner .carousel-item .carousel-caption .trailer button:hover::after {
  width: 21rem;
}

.slider .carousel-inner .carousel-item .carousel-caption .trailer button span {
  position: relative;
  z-index: 1;
}

@keyframes fadeIn-135deg {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translate(-100px, -100px);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
  }
}

@keyframes fadeIn-180deg {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translate(-100px, 0);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
  }
}

@keyframes fadeIn-235deg {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translate(-100px, 100px);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
  }
}

.new .container > h1 {
  font-size: 1.125rem;
  color: #ec7532;
  position: relative;
}

.new .container > h1::after {
  content: "";
  display: block;
  width: 10%;
  height: 0.25rem;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
}

.new .container .slick-carousel h1 {
  font-size: 1.125rem;
  font-weight: 400;
}

.new .container .slick-carousel .item {
  margin-right: 1rem;
}

.new .container .slick-carousel .item:focus {
  border: none;
  outline: none;
}

.new .container .slick-carousel .item .movie-poster {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}

.new .container .slick-carousel .item .movie-poster img {
  display: block;
  width: 100%;
}

.new .container .slick-carousel .item .movie-poster .info {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.9);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}

.new .container .slick-carousel .item .movie-poster .info a {
  transition: all 0.4s ease;
}

.new .container .slick-carousel .item .movie-poster .info a i {
  width: 5rem;
  height: 5rem;
  border-width: 2px !important;
}

.new .container .slick-carousel .item .movie-poster .info a:hover {
  transform: scale(0.9);
}

.new .container .slick-carousel .item .movie-poster:hover .info {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.new .container .slick-carousel .item .movie-poster::before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: -150%;
  background-image: linear-gradient(to bottom, #fbbd61, #ec7532);
  opacity: 0.9;
  visibility: visible;
  transition: all 0.4s ease;
  transform: skewX(30deg);
}

.new .container .slick-carousel .item .movie-poster:hover::before {
  width: 300%;
}

.new .container .slick-carousel .slick-prev::before {
  content: "‹";
  font-size: 3rem;
  color: #ec7532;
}

.new .container .slick-carousel .slick-prev::before:hover {
  counter-reset: #fbbd61;
}

.new .container .slick-carousel .slick-next::before {
  content: "›";
  font-size: 3rem;
  color: #ec7532;
}

.new .container .slick-carousel .slick-next::before:hover {
  counter-reset: #fbbd61;
}

.schedule .container {
  color: #4a4a4a;
  /* RESPONSIVE */
}

.schedule .container ul.nav li {
  position: relative;
}

.schedule .container ul.nav li a {
  border: none;
  color: #4a4a4a;
  font-size: 1.125rem;
  padding: 0.625rem 1.875rem;
}

.schedule .container ul.nav li a::after {
  content: "";
  display: block;
  width: 0;
  height: 0.25rem;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  transition: all 0.4s ease;
}

.schedule .container ul.nav li a:hover::after {
  height: 100%;
}

.schedule .container ul.nav li a.active::after {
  height: 100%;
}

.schedule .container .tab-content .row .img-poster {
  border-radius: 0.5rem;
  overflow: hidden;
}

.schedule .container .tab-content .row .info > span {
  letter-spacing: 2px;
  color: #ec7532;
  font-size: 1rem;
}

.schedule .container .tab-content .row .info > a {
  letter-spacing: 2px;
  color: #ec7532;
  font-size: 0.75rem;
}

.schedule .container .tab-content .row .info h1 {
  font-size: 1.5rem;
  font-weight: 300;
}

.schedule .container .tab-content .row .info .time {
  font-size: 0.75rem;
}

.schedule .container .tab-content .row .info .time .badge {
  font-size: 1rem;
  font-weight: 300;
}

.schedule .container .tab-content .row .info .duration {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.schedule .container .tab-content .row .info .duration span.rounded-circle {
  display: inline-block;
  width: 2.25rem;
  height: 2.25rem;
  line-height: 2.25rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .schedule .container ul.nav {
    display: flex;
    flex-direction: column;
  }
  .schedule .container ul.nav li {
    position: relative;
  }
  .schedule .container ul.nav li a::after {
    width: 0.25rem;
    height: 0;
    content: "";
    display: block;
    width: 0.25rem;
    height: 0rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, #fbbd61, #ec7532);
  }
  .schedule .container ul.nav li a:hover::after {
    width: 0.25rem;
    height: 100%;
  }
  .schedule .container .tab-content .row .info {
    margin-top: 1.5rem;
  }
  .schedule .container .tab-content .row .info .duration {
    justify-content: flex-start;
    margin-top: 1rem;
  }
}

.coming {
  background-image: url("../../img/slide-7.png");
  background-size: cover;
  background-position: center;
  background-repeat: none;
  background-color: #101010;
  overflow: hidden;
  /* RESPONSIVE */
}

.coming .container {
  color: white;
}

.coming .container > h1 {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  font-size: 1.25rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.coming .container > h1::after {
  content: "";
  display: block;
  width: 8.8rem;
  height: 0.25rem;
  position: absolute;
  bottom: -0.15rem;
  left: 0;
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
}

.coming .container .coming-top {
  padding-top: 2rem;
  height: 100%;
}

.coming .container .coming-top .info {
  width: 100%;
  height: 100%;
  justify-content: center;
}

.coming .container .coming-top .info > span {
  color: #ec7532;
}

.coming .container .coming-top .info > span i {
  color: #fbbd61;
}

.coming .container .coming-top .info > span span {
  color: #fff;
}

.coming .container .coming-top .info h1 {
  font-weight: 300;
}

.coming .container .coming-top .info p {
  margin-top: 1rem;
}

.coming .container .coming-top .info a {
  transition: all 0.4s ease;
  color: #ec7532;
}

.coming .container .coming-top .info a:hover {
  color: #fbbd61;
}

.coming .container .coming-top .info a i {
  font-size: 1rem;
}

.coming .container .coming-top .poster {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("../../img/slide-1-video.png");
  background-size: cover;
  background-position: center;
  background-repeat: none;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 50px 15px rgba(0, 0, 0, 0.75);
}

.coming .container .coming-top .poster a {
  padding: 5rem 14rem;
  transition: all 0.4s ease;
}

.coming .container .coming-top .poster a i {
  font-size: 2rem;
  border: solid #ec7532 2px;
  color: white;
  border-radius: 50%;
  padding: 1.75rem;
}

.coming .container .coming-top .poster a:hover {
  transform: scale(0.9);
}

.coming .container .coming-bottom {
  margin-top: 2.5rem;
  position: relative;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  padding: 3.5rem 0;
}

.coming .container .coming-bottom::before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: -100%;
  display: block;
  width: 300%;
  height: 100%;
  padding: 55px 0;
  content: "";
  background: #101010;
}

.coming .container .coming-bottom .slick-carousel .item {
  margin: 0 0.5rem;
}

.coming .container .coming-bottom .slick-carousel .item:focus {
  border: none;
  outline: none;
}

.coming .container .coming-bottom .slick-carousel .movie-poster {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}

.coming .container .coming-bottom .slick-carousel .movie-poster::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #101010;
  opacity: 0.5;
  transition: all 0.4s ease;
}

.coming .container .coming-bottom .slick-carousel .movie-poster:hover::before {
  opacity: 0;
}

.coming .container .coming-bottom .slick-carousel .movie-poster .poster {
  border-radius: 0.75rem;
  overflow: hidden;
}

.coming .container .coming-bottom .slick-carousel .movie-poster .poster img {
  display: block;
  width: 100%;
}

.coming .container .coming-bottom .slick-carousel h1 {
  font-size: 1.125rem;
}

.coming .container .coming-bottom .slick-carousel p {
  color: #717171;
}

.coming .container .coming-bottom .slick-carousel .slick-prev::before {
  content: "‹";
  font-size: 3rem;
  color: #ec7532;
}

.coming .container .coming-bottom .slick-carousel .slick-prev::before:hover {
  counter-reset: #fbbd61;
}

.coming .container .coming-bottom .slick-carousel .slick-next::before {
  content: "›";
  font-size: 3rem;
  color: #ec7532;
}

.coming .container .coming-bottom .slick-carousel .slick-next::before:hover {
  counter-reset: #fbbd61;
}

.contact {
  padding: 3rem 0;
  color: #4a4a4a;
  /* RESPONSIVE */
}

.contact .phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact .phone p {
  font-size: 1.4375rem;
  font-weight: 300;
}

.contact .phone h1 {
  color: #ec7532;
  font-size: 2.875rem;
}

.footer {
  background-color: #000;
  color: #fff;
  /* RESPONSIVE */
}

.footer .row {
  padding-top: 3rem;
}

.footer .row .item {
  display: flex;
  flex-direction: column;
}

.footer .row .item h2 {
  font-size: 1rem;
  color: #ec7532;
  padding-bottom: 0.5rem;
}

.footer .row .item a {
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}

.footer .row .item a i {
  color: #717171;
  padding-right: 0.5rem;
  transition: all 0.4s ease;
}

.footer .row .item a:hover {
  color: #ec7532;
}

.footer .row .item a:hover i {
  color: #ec7532;
}

.footer .copy-right {
  margin-top: 50px;
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .copy-right a {
  color: #fff;
  transition: all 0.4s ease;
}

.footer .copy-right a:hover {
  color: #ec7532;
}

@media screen and (max-width: 992px) {
  .footer .item {
    padding-bottom: 0.25rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}
/*# sourceMappingURL=style.css.map */