.contact {
    padding: 3rem 0;
    color: #4a4a4a;
    .phone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            font-size: 1.4375rem;
            font-weight: 300;
        }
        h1 {
            color: $strong-primary;
            font-size: 2.875rem;
        }
    }
    /* RESPONSIVE */
    @media screen and (max-width: 1200px) {
    }

    @media screen and (max-width: 992px) {
    }

    @media screen and (max-width: 768px) {
    }

    @media screen and (max-width: 576px) {
    }
}
