.footer {
    background-color: #000;
    color: #fff;
    .row {
        padding-top: 3rem;
        .item {
            display: flex;
            flex-direction: column;
            h2 {
                font-size: 1rem;
                color: $strong-primary;
                padding-bottom: 0.5rem;
            }
            a {
                font-weight: 400;
                color: #fff;
                i {
                    color: $muted;
                    padding-right: 0.5rem;
                }
                transition: all 0.4s ease;
                &:hover {
                    color: $strong-primary;
                }
            }
        }
    }
    .copy-right {
        margin-top: 50px;
        padding: 20px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        a {
            color: #fff;
        }
    }
    /* RESPONSIVE */

    @media screen and (max-width: 1200px) {
    }

    @media screen and (max-width: 992px) {
        .item {
            padding-bottom: 0.25rem;
            margin-bottom: 1rem;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }
    }

    @media screen and (max-width: 768px) {
    }

    @media screen and (max-width: 576px) {
    }
}
