.schedule .container {
    color: #4a4a4a;
    ul.nav {
        li {
            position: relative;
            a {
                border: none;
                color: #4a4a4a;
                font-size: 1.125rem;
                padding: 0.625rem 1.875rem;
                &::after {
                    @include after-bottom-left(0, 0.25rem, -1px, 0);
                    @include gradient-primary(right);
                    @include transition-ease(0.4s);
                }
                &:hover::after {
                    height: 100%;
                }
            }
            a.active {
                &::after {
                    height: 100%;
                }
            }
        }
    }
    .tab-content .row {
        .img-poster {
            border-radius: 0.5rem;
            overflow: hidden;
        }
        .info {
            & > span {
                letter-spacing: 2px;
                color: $strong-primary;
                font-size: $p3;
            }
            & > a {
                letter-spacing: 2px;
                color: $strong-primary;
                font-size: $p4;
                &:hover {
                    @extend .hover-to-black;
                }
            }
            h1 {
                font-size: $p1;
                font-weight: 300;
            }
            .time {
                font-size: $p4;
                .badge {
                    font: {
                        size: $p3;
                        weight: 300;
                    }
                }
            }
            .duration {
                @include d-flex(row, flex-end, center);
                span.rounded-circle {
                    display: inline-block;
                    width: 2.25rem;
                    height: 2.25rem;
                    line-height: 2.25rem;
                    text-align: center;
                }
            }
        }
    }

    /* RESPONSIVE */
    @media screen and (max-width: 1200px) {
    }

    @media screen and (max-width: 992px) {
    }

    @media screen and (max-width: 768px) {
        ul.nav {
            display: flex;
            flex-direction: column;
            li {
                position: relative;
                a {
                    &::after {
                        width: 0.25rem;
                        height: 0;
                        @include after-bottom-left(0.25rem, 0rem, 0, 0);
                        @include gradient-primary(top);
                    }
                    &:hover::after {
                        width: 0.25rem;
                        height: 100%;
                    }
                }
            }
        }
        .tab-content .row {
            .info {
                margin-top: 1.5rem;
                .duration {
                    justify-content: flex-start;
                    margin-top: 1rem;
                }
            }
        }
    }

    @media screen and (max-width: 576px) {
    }
}
